app/showcase/portfolio-demo.pug
include ../components/main/templates/head.pug
body
  nav.demonav
    header.demonav__header
      button.demonav__back Back
      h1.demonav__title Script name
    ul.demonav__sources
      li.demonav__sources-item
        a.demonav__sources-link
          span.demonav__sources-icon
            svg.demonav__sources-svg
              use(x="0", y="0", xlink:href="#svg-download24")
          span.demonav__sources-text Download
      li.demonav__sources-item
        a.demonav__sources-link
          span.demonav__sources-icon
            svg.demonav__sources-svg
              use(x="0", y="0", xlink:href="#svg-download24")
          span.demonav__sources-text Download
      li.demonav__sources-item
        a.demonav__sources-link
          span.demonav__sources-icon
            svg.demonav__sources-svg
              use(x="0", y="0", xlink:href="#svg-download24")
          span.demonav__sources-text Download
script(src='../scripts/main.js')

dist/showcase/portfolio-demo.html
<!DOCTYPE html><html lang="en"><head><meta charset="UTF-8"><meta name="author" content="Nazar Linovetskiy"><meta name="viewport" content="width=device-width, initial-scale=1.0"><title></title><link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Arsenal:400,700&amp;amp;subset=cyrillic"><link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Didact+Gothic&amp;amp;subset=cyrillic"><link rel="stylesheet" href="https://fonts.googleapis.com/css?family=EB+Garamond&amp;amp;subset=cyrillic"><link rel="stylesheet" href="undefinedstyles/general.css"></head></html><body><nav class="demonav"><header class="demonav__header"><button class="demonav__back">Back</button><h1 class="demonav__title">Script name</h1></header><ul class="demonav__sources"><li class="demonav__sources-item"><a class="demonav__sources-link"><span class="demonav__sources-icon"><svg class="demonav__sources-svg"><use x="0" y="0" xlink:href="#svg-download24"></use></svg></span><span class="demonav__sources-text">Download</span></a></li><li class="demonav__sources-item"><a class="demonav__sources-link"><span class="demonav__sources-icon"><svg class="demonav__sources-svg"><use x="0" y="0" xlink:href="#svg-download24"></use></svg></span><span class="demonav__sources-text">Download</span></a></li><li class="demonav__sources-item"><a class="demonav__sources-link"><span class="demonav__sources-icon"><svg class="demonav__sources-svg"><use x="0" y="0" xlink:href="#svg-download24"></use></svg></span><span class="demonav__sources-text">Download</span></a></li></ul></nav></body><script src="../scripts/main.js"></script>
