dist/styleguide.html
<!DOCTYPE html><html lang="en"><head><meta charset="UTF-8"><meta name="author" content="Nazar Linovetskiy"><meta name="viewport" content="width=device-width, initial-scale=1.0"><title>Nazar Linovetskiy - Styleguide</title><link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Arsenal:400,700&amp;amp;subset=cyrillic"><link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Didact+Gothic&amp;amp;subset=cyrillic"><link rel="stylesheet" href="https://fonts.googleapis.com/css?family=EB+Garamond&amp;amp;subset=cyrillic"><link rel="stylesheet" href="styles/general.css"></head></html><body><header class="pg-header" id="pgHeader"><nav class="nav" id="menu"><button class="nav__btn" id="menuTrigger"><span class="nav__btn-line"></span></button><ul class="nav__list" id="menuList"><li class="nav__item"><a class="nav__link" href="/about.html" title="About me">About me</a></li><li class="nav__item"><a class="nav__link" href="/showcase/" title="Some works">Showcase</a></li></ul></nav><div class="logo"><a class="logo__link" href="/" title="Вернуться на Главную страницу">Nazar Linovetskiy</a></div></header><main class="pg-main"><div class="headline"><p class="headline__text">Styleguide</p></div><div class="content"><ul><li><a href="/">Home</a></li><li><a href="portfolio-item.html">Portfolio item</a></li><li><a href="styleguide.html">Styleguide</a></li></ul><h1>headline__text</h1><p>Позициозными и смелыми проектами на пике современных технологий. Я верю, что опыт прошлых лет может помочь предугадать тенденции будущего. Занимаюсь как веб разработкой, так и созданием концептуальных дизайнерских решений, как в сфере бизнеса в интернете, так и за его рамками.</p><p>Позициозными и смелыми проектами на пике современных технологий. Я верю, что опыт прошлых лет может помочь предугадать тенденции будущего. Занимаюсь как веб разработкой, так и созданием концептуальных дизайнерских решений, как в сфере бизнеса в интернете, так и за его рамками.</p><h2>headline__text</h2><p>Позициозными и смелыми проектами на пике современных технологий. Я верю, что опыт прошлых лет может помочь предугадать тенденции будущего. Занимаюсь как веб разработкой, так и созданием концептуальных дизайнерских решений, как в сфере бизнеса в интернете, так и за его рамками.</p><h3>headline__text</h3><p>Позициозными и смелыми проектами на пике современных технологий. Я верю, что опыт прошлых лет может помочь предугадать тенденции будущего. Занимаюсь как веб разработкой, так и созданием концептуальных дизайнерских решений, как в сфере бизнеса в интернете, так и за его рамками.</p></div></main><footer class="pg-footer"><small>Cooopyright NL 2017</small></footer><div class="overlay" id="overlay"></div><div id="svg-wrapper"><svg xmlns="http://www.w3.org/2000/svg" height="24" viewBox="0 0 24 24" width="24" id="svg-download24"><path d="M19 9h-4V3H9v6H5l7 7 7-7zM5 18v2h14v-2H5z"></path><path d="M0 0h24v24H0z" fill="none"></path></svg><svg xmlns="http://www.w3.org/2000/svg" width="24" height="23" viewBox="0 0 256 250" id="svg-github24"><path d="M128 0C57.3 0 0 57.3 0 128 0 184.6 36.7 232.5 87.5 249.5 93.9 250.6 96.3 246.7 96.3 243.3 96.3 240.3 96.2 230.2 96.1 219.5 60.5 227.2 53 204.4 53 204.4 47.2 189.6 38.8 185.6 38.8 185.6 27.2 177.7 39.6 177.9 39.6 177.9 52.5 178.8 59.3 191 59.3 191 70.7 210.6 89.2 205 96.5 201.7 97.7 193.4 101 187.8 104.6 184.6 76.2 181.3 46.3 170.4 46.3 121.3 46.3 107.3 51.3 95.9 59.5 87 58.2 83.7 53.8 70.7 60.8 53.1 60.8 53.1 71.5 49.6 96 66.2 106.2 63.4 117.1 61.9 128 61.9 138.9 61.9 149.8 63.4 160.1 66.2 184.5 49.6 195.2 53.1 195.2 53.1 202.2 70.7 197.8 83.7 196.5 87 204.7 95.9 209.7 107.3 209.7 121.3 209.7 170.5 179.7 181.3 151.2 184.5 155.8 188.4 159.9 196.2 159.9 208.2 159.9 225.3 159.7 239.1 159.7 243.3 159.7 246.7 162.1 250.7 168.5 249.4 219.4 232.5 256 184.5 256 128 256 57.3 198.7 0 128 0ZM47.9 182.3C47.7 183 46.7 183.2 45.7 182.7 44.8 182.3 44.3 181.4 44.6 180.8 44.9 180.2 45.9 180 46.8 180.4 47.7 180.8 48.3 181.7 47.9 182.3ZM54.2 188C53.6 188.5 52.4 188.3 51.6 187.4 50.8 186.5 50.6 185.3 51.2 184.7 51.9 184.1 53 184.4 53.9 185.3 54.7 186.2 54.9 187.4 54.2 188ZM58.6 195.1C57.8 195.7 56.5 195.2 55.7 194 54.9 192.9 54.9 191.5 55.7 191 56.5 190.4 57.8 190.9 58.6 192.1 59.4 193.2 59.4 194.6 58.6 195.1ZM65.9 203.5C65.2 204.2 63.7 204 62.6 203 61.5 201.9 61.1 200.5 61.8 199.7 62.6 198.9 64.1 199.2 65.2 200.2 66.3 201.2 66.6 202.7 65.9 203.5ZM75.3 206.3C75 207.3 73.6 207.7 72.1 207.3 70.7 206.9 69.7 205.7 70 204.7 70.3 203.7 71.7 203.2 73.2 203.7 74.7 204.1 75.6 205.3 75.3 206.3ZM86 207.5C86.1 208.5 84.9 209.4 83.3 209.4 81.8 209.5 80.6 208.6 80.5 207.6 80.5 206.5 81.7 205.6 83.3 205.6 84.8 205.6 86 206.4 86 207.5ZM96.6 207.1C96.8 208.1 95.7 209.2 94.2 209.4 92.7 209.7 91.4 209.1 91.2 208.1 91 207 92.1 205.9 93.5 205.7 95.1 205.4 96.4 206 96.6 207.1Z" fill="#000"></path></svg><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 256 256" id="svg-codepen24"><path d="M255.8 87.1C255.7 86.8 255.7 86.5 255.6 86.2 255.6 86 255.5 85.8 255.4 85.6 255.4 85.4 255.3 85.1 255.2 84.8 255.1 84.6 255 84.5 254.9 84.3 254.8 84 254.7 83.8 254.5 83.6 254.4 83.4 254.3 83.2 254.2 83.1 254.1 82.8 253.9 82.6 253.8 82.4 253.6 82.2 253.5 82.1 253.4 81.9 253.2 81.7 253 81.5 252.8 81.3 252.7 81.2 252.5 81 252.4 80.9 252.2 80.7 252 80.5 251.8 80.4 251.6 80.2 251.4 80.1 251.3 80 251.2 79.9 251.2 79.9 251.1 79.9L134.1 1.8C130.4-0.6 125.6-0.6 121.9 1.8L4.9 79.8C4.8 79.9 4.8 79.9 4.7 80 4.5 80.1 4.4 80.2 4.2 80.4 4 80.5 3.8 80.7 3.6 80.9 3.4 81 3.3 81.2 3.2 81.3 3 81.5 2.8 81.7 2.6 81.9 2.5 82.1 2.4 82.2 2.2 82.4 2.1 82.6 1.9 82.8 1.8 83.1 1.7 83.2 1.6 83.4 1.5 83.6 1.3 83.8 1.2 84 1.1 84.3 1 84.5 0.9 84.6 0.8 84.8 0.7 85.1 0.6 85.4 0.5 85.6 0.5 85.8 0.4 86 0.4 86.1 0.3 86.4 0.2 86.8 0.2 87.1 0.2 87.2 0.1 87.4 0.1 87.5 0 88 0 88.5 0 89L0 167C0 167.5 0 168 0.1 168.4 0.1 168.6 0.2 168.7 0.2 168.9 0.3 169.2 0.3 169.5 0.4 169.8 0.5 170 0.5 170.2 0.6 170.4 0.7 170.6 0.8 170.9 0.9 171.2 0.9 171.3 1 171.5 1.1 171.7 1.2 171.9 1.3 172.2 1.5 172.4 1.6 172.6 1.7 172.8 1.8 172.9 1.9 173.2 2.1 173.4 2.3 173.6 2.4 173.8 2.5 173.9 2.7 174.1 2.8 174.3 3 174.5 3.2 174.7 3.3 174.8 3.5 175 3.7 175.1 3.9 175.2 4.1 175.4 4.3 175.6 4.4 175.7 4.6 175.8 4.8 176 4.8 176 4.9 176.1 4.9 176.1L121.9 254.1C123.7 255.4 125.9 256 128 256 130.1 256 132.3 255.4 134.1 254.1L251.1 176.1C251.2 176.1 251.2 176.1 251.3 176 251.5 175.9 251.6 175.8 251.8 175.6 252 175.5 252.2 175.3 252.4 175.1 252.6 175 252.7 174.8 252.8 174.7 253 174.5 253.2 174.3 253.4 174.1 253.5 173.9 253.6 173.8 253.8 173.6 253.9 173.4 254.1 173.2 254.2 172.9 254.3 172.8 254.4 172.6 254.5 172.4 254.7 172.2 254.8 172 254.9 171.7 255 171.5 255.1 171.4 255.2 171.2 255.3 170.9 255.4 170.6 255.5 170.4 255.5 170.2 255.6 170 255.6 169.8 255.7 169.5 255.8 169.2 255.8 168.9 255.8 168.8 255.9 168.6 255.9 168.4 256 168 256 167.5 256 167L256 89C256 88.5 256 88 255.9 87.6 255.9 87.4 255.8 87.3 255.8 87.1L255.8 87.1ZM128 154L89.1 128 128 102 166.9 128 128 154 128 154ZM117 82.9L69.3 114.8 30.8 89 117 31.6 117 82.9 117 82.9ZM49.5 128L22 146.4 22 109.6 49.5 128 49.5 128ZM69.3 141.2L117 173.1 117 224.4 30.8 167 69.3 141.2 69.3 141.2ZM139 173.1L186.7 141.2 225.2 167 139 224.4 139 173.1 139 173.1ZM206.5 128L234 109.6 234 146.4 206.5 128 206.5 128ZM186.7 114.8L139 82.9 139 31.6 225.2 89 186.7 114.8 186.7 114.8Z" fill="#000"></path></svg></div></body><script src="scripts/main.js"></script>

app/styleguide.pug
- var pageTitle = "Nazar Linovetskiy - Styleguide";
- var UrlLvl = "";
include components/main/templates/head.pug
body
  include components/pgheader/templates/pgheader.pug
  main.pg-main
    .headline
      p.headline__text Styleguide
    .content
      ul
        li
          a(href="/") Home
        li
          a(href="portfolio-item.html") Portfolio item
        li
          a(href="styleguide.html") Styleguide
      h1 headline__text
      p Позициозными и смелыми проектами на пике современных технологий. Я верю, что опыт прошлых лет может помочь предугадать тенденции будущего. Занимаюсь как веб разработкой, так и созданием концептуальных дизайнерских решений, как в сфере бизнеса в интернете, так и за его рамками.
      p Позициозными и смелыми проектами на пике современных технологий. Я верю, что опыт прошлых лет может помочь предугадать тенденции будущего. Занимаюсь как веб разработкой, так и созданием концептуальных дизайнерских решений, как в сфере бизнеса в интернете, так и за его рамками.
      h2 headline__text
      p Позициозными и смелыми проектами на пике современных технологий. Я верю, что опыт прошлых лет может помочь предугадать тенденции будущего. Занимаюсь как веб разработкой, так и созданием концептуальных дизайнерских решений, как в сфере бизнеса в интернете, так и за его рамками.
      h3 headline__text
      p Позициозными и смелыми проектами на пике современных технологий. Я верю, что опыт прошлых лет может помочь предугадать тенденции будущего. Занимаюсь как веб разработкой, так и созданием концептуальных дизайнерских решений, как в сфере бизнеса в интернете, так и за его рамками.
  include components/pgfooter/templates/pgfooter.pug
script(src='scripts/main.js')
